@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/
.header-part,
.bg-color-name-title {
    background-color: #676767;
}

.bg-color-main {
    background-color: #ffffff;
}

.bg-color-side {
    background-color: #f4f4f4;
}

.menu-color-education {
    background-color: #e67e22;
}

.menu-color-experience {
    background-color: #3498db;
}

.menu-color-personality {
    background-color: #e74c3c;
}

.menu-color-contact{
    background-color: #9b59b6;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #555555;
}


/*--------------------------------------------Special Paddings/Margins/Text*/
h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.main-part{
    padding-bottom: 60px;
}

.row-table {
    display: table;
}

.history-heading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-column-main{
    padding: 10px;
}

/*--------------------------------------------Heading*/
header {
    margin: 0;
}

.heading {
    margin: 15px;
}

.photo-div{
    margin: auto;
    display: flex;
}

.photo {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 500px;
    border-radius: 70%;
    border-style: outset;
    border-width: thin;
    border-color: #8f8f8f;
    padding: 10px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    image-rendering: -webkit-optimize-contrast;
    margin: auto;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    margin-top: 20px;
    color: #ffffff;
}

.list-inline{
    padding-top: 10px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 35px;
    height: 35px;
    padding-top: 15px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

.social,
.cv {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    color: #fafafa;
}

.cv i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

.cv i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 80px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 80px;
}


.menuitem a i {
    padding-top: 12px;
    display: block;
    color: #fafafa;
    font-size: 22px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/
.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 80px;
}

/*--------------------------------------------Footer*/
footer {
    background-color: #676767;
    color: #fafafa;
    height: 55px;
    margin-top: -55px; /* to make the culomns come to the end of the page */
}

/*--------------------------------------------Work History*/
.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #676767;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
    color: #e67e22;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #676767;
    padding-bottom: 5px;
}

.history-heading {
    color: #555555;
    margin-bottom: 0px;
}

/*--------------------------------------------Projects*/
.projects-icon {
    font-size: 26px;
    color: #e67e22;
}

.times{
    color: #e67e22;
}

.educations-heading,
.projects-heading {
    margin-bottom: 15px;
    padding-top: 3px;
}

/*--------------------------------------------skills*/
.bg-color-skills{
    background-color: #f4f4f4;
}

.icon-image{
    height: 87px;
    width: 87px;
}

.img-thumbnail{
    width: 70px;
}

.card-text{
    white-space: nowrap;
    color: #000;
}

.card-body{
    padding: 5px;
}

/*--------------------------------------------education*/
.educations-icon{
    font-size: 26px;
    color: #3498db;
}

/*--------------------------------------------personality*/
.personality{
    font-weight: 400;
}

/*--------------------------------------------Contact*/
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

.btn-secondary:disabled,
.btn-secondary[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#message{
    display: none;
    padding: 10px;
}

/*--------------------------------------------Map*/
div#map {
    min-height: 360px;
}

/*--------------------------------------------Media Queries*/
/* in 769px(md) and smaller screens */
@media(max-width:769px){
    .menuitem span {
        font-size: 12px;
    }

    .history-heading,
    .section-heading {
        font-weight: 500;
        font-size: 15px;
    }

    .company-name{
        font-weight: 400;
    }
}

/* in medium and bigger screens */
@media(min-width: 599px){
    .photo{
        display: table-cell;
    }

    .section-column-main{
        padding-left: 30px;
    }
}

/* in 601px and smaller should be under the prev media to avoid blackberry playbook view to display the photo */
@media(max-width: 601px){
    .photo{
        display: none;
    }
}

/* in large and bigger screens*/
@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }

    .icon-image{
        height: 230px;
        width: 230px;
    }
}

/* in screens with 949px hight and higher */
@media(min-height:949px){
    footer{
        position:fixed;
        bottom:0;
        width:100%;
        height:60px;
    }
}